.column-container{
    /* border: solid red; */
    margin-top: 10%;
    max-width: 1200px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

.column-container h2{
    color: brown;
}

.column-container p, h2{
    padding: 0 5%;
}

.column{
    padding-bottom: 5%;
}

.image-with-shadow {
    box-shadow: 0px 0px 40px rgba(165, 42, 42, 0.63);
}
