.navigator{
    display: flex;
    align-content: center;
    font-size: 15px;
    position: sticky;
    /* border: solid rgb(255, 0, 0); */
    background-color: black;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 50px;
}


/* .container{
    background-color: black;
    display: flex;
    height: 50px;
    width: 100%;
    border: solid white;
} */

.navMenu{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    align-items: center;
    width: 100%;
    justify-content: left;
    /* border: solid rgb(255, 251, 0); */
}

.link-menu{
    color: white;
    text-decoration: none;
    padding: 0 10px;
    /* border: solid rgb(255, 0, 0); */
}

