.container{
    background-color: black;
    display: flex;
    height: 80px;
    width: 100%;
    border: solid white;
}

.navMenu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    width: 50%;
    justify-content: space-between;
    border: solid rgb(255, 251, 0);
}

.link-menu{
    color: white;
    text-decoration: none;
    /* padding: 0 24px; */
    border: solid white;
}

