.navigator{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    position: sticky;
}


.container{
    background-color: black;
    display: flex;
    height: 50px;
    width: 100%;
    /* border: solid white; */
}

.navMenu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    width: 100%;
    justify-content: left;
    /* padding: 0 10px; */
    /* justify-content: space-between; */
    /* border: solid rgb(255, 251, 0); */
}

.link-menu{
    color: white;
    text-decoration: none;
    padding: 0 10px;
    /* border: solid rgb(255, 0, 0); */
}

