/* .App{
    padding: 0;
    margin: 0;
    border: solid red;
    width: 100%;
} */

.nav-container{
    /* border: solid white; */
    position: sticky;
    top: 0;
    z-index: 100; /* order of z position*/
}